body {
  font-family: sans-serif;
}

.card {
  width: 400px;
  border: 1px solid #ccc;
  padding: 1rem;
  line-height: 1.5;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
  margin: 0;
}

h4 {
  margin-top: 0;
}
